.home {
  border-radius: 10px;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  margin-top: 3%;
  background-image: url("https://thumbs.dreamstime.com/b/minimal-food-orange-fruit-bright-background-minimal-food-orange-fruit-overhead-bright-background-112277535.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 58px;
  color: rgb(242, 248, 250);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(82, 129, 187);
  text-decoration: underline;
  font-size: 25px;
}
p1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 36px;
}
