.abt {
  width: 60%;
}
.img3 {
  width: 160%;
  height: 160%;
  vertical-align: middle;
  border-style: none;
}
.contain {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: 12%;
  margin-top: 5%;
}
.aboutus {
  background-color: white;
  font-size: 16px;
  line-height: normal;
  margin: 1.5 rem 0 px 2 rem;
  color: rgb(81, 113, 177);
  line-height: 1.41;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0%;
}
.boutton {
  background: rgb(46, 24, 106);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  border: 1 px solid rgb(237, 243, 245);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.625 rem;
  max-width: 180 px;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgb(23 31 114 / 20%) 0px 16px 30px;
  width: 25%;
  padding: 2%;
}
.boutton1 {
  background: rgb(255, 255, 255);
  color: rgb(46, 24, 106);
  font-size: 1rem;
  font-weight: 700;
  border: 1 px solid rgb(237, 243, 245);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.625 rem;
  max-width: 180 px;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgb(23 31 114 / 20%) 0px 16px 30px;
  width: 25%;
  padding: 2%;
}
.petrelDesc {
  background-color: white;
  font-size: 16px;
  line-height: normal;
  margin: 1.5 rem 0 px 2 rem;
  color: rgb(81, 113, 177);
  line-height: 1.41;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: -40px;
  width: 40%;
  margin-left: 25%;
}
.boutton3 {
  background: rgb(46, 24, 106);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  border: 1 px solid rgb(237, 243, 245);
  border-radius: 4px;
  cursor: pointer;
  margin-top: -38px;
  max-width: 180 px;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgb(23 31 114 / 20%) 0px 16px 30px;
  width: 18%;
  padding: 2%;
}
.img2 {
  width: 150%;
  height: 88%;
}
.serv {
  width: 50%;
}
