footer {
  position: fixed;
  text-align: center;
  width: 99%;
  bottom: 0;
  background-color: rgb(236, 236, 236);
  color: white;
  font-family: monospace;
  border-radius: 5px;
  padding: 1.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 15vh;
}
.cadre {
  text-align: left;
}
.title {
  color: darkblue;
  text-decoration: none;
  margin-left: 4%;
}
.paraghraphe {
  background-color: rgb(236, 236, 236);
  font-size: 14px;
  font-family: Motiva Sans Light;
  line-height: normal;
  width: 57%;
}
.boutton2 {
  border-width: 0cm;
  text-decoration: underline;
  font-weight: bold;
  color: rgb(235, 149, 68);
  margin-left: 35%;
}
